
  body {
    background-color: #ffffff; /* Light gray background */
    font-family: 'Arial', sans-serif; /* Text in Arial font */

}

h1 {
    color: rgb(49, 198, 72); /* Main heading text color is Green */
    border-style: solid;
    border-color: rgb(49, 199, 72);
    width:15%;
    display: flex;
    justify-content: center;
  }

h3 {
    color:rgb(23, 206, 106)
}

p {
    color: rgb(4, 224, 240); /* Paragraph text color is blue */

}

h2 {
  color: rgb(247, 245, 95); /* Main heading text color is blue */

}

#navbar{
  display: flex;
  justify-content:space-between ;
  }
